{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "printWidth": 120,
  "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    },
    {
      "files": "force-app/**/*.xml",
      "options": { "printWidth": 160 }
    },
    {
      "files": "manifest*.xml",
      "options": { "printWidth": 160 }
    },
    {
      "files": "**/lwc/**/*.js-meta.xml",
      "options": { "printWidth": 320 }
    }
  ]
}
