/* Modal styling */
.slds-modal__container {
    max-width: 32rem;
}

.slds-modal__content {
    padding-bottom: 0;
    margin-bottom: 0;
}

.slds-modal__footer {
    border-top: 1px solid var(--slds-g-color-border-base-4, #e5e5e5);
    margin-top: 0;
}

